[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Dingo
Name[en]=Dingo
Name[vi]=Dingo
GenericName=Media Manager
GenericName[en]=Media Manager
GenericName[vi]=Quản lý nhạc
X-GNOME-FullName=Dingo Media Manager
X-GNOME-FullName[en]=Dingo Media Manager
X-GNOME-FullName[vi]=Quản lý nhạc Dingo
Comment=A minimalist yet powerful media manager for Linux
Comment[en]=A minimalist yet powerful media manager for Linux
Comment[vi]=Trình quản lý nhạc nhỏ nhẹ và mạnh mẽ dành cho Linux
Exec=dingo %U
Icon=dingo
Terminal=false
Categories=GNOME;GTK;Audio;Music;Player;AudioVideo;
StartupNotify=true
MimeType=application/x-ogg;application/ogg;audio/basic;audio/L24;audio/mp4;audio/mpeg;audio/ogg;audio/vorbis;audio/vnd.wave;video/mpeg;video/mp4;video/ogg;video/quicktime;video/webm;video/x-matroska;video/x-ms-wmv;video/x-flv;audio/x-vorbis+ogg;audio/x-scpls;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-flac;
